<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project5cafeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rucafe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rucafe_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project5CafeApp">
        <activity
            android:name=".StoreOrdersActivity"
            android:label="@string/app_name5"
            android:exported="false" />
        <activity
            android:name=".OrderingBasketActivity"
            android:label="@string/app_name2"
            android:exported="false" />
        <activity
            android:name=".OrderingCoffeeActivity"
            android:label="@string/app_name3"
            android:exported="false" />
        <activity
            android:name=".OrderingDonutsActivity"
            android:label="@string/app_name4"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>